* {
    box-sizing: border-box;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }
  
  li {
    float: left;
    text-align: center;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover {
    background-color:plum;
  }
#name {
    width: 75%;
    text-align: center;
    color: whitesmoke;
    background-color: blueviolet;
    opacity: 0.9;
    padding: 30px;
    margin: 10px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:30px;
    /* font-stretch: extra-expanded;
    font-weight: bold; */
    height: 106.4px;
    letter-spacing: 2px;


}
#bar {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    
}
#profession {
    width: 75%;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(226, 100, 199);
    opacity: 0.9;
    padding: 30px;
    margin: 10px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-stretch: extra-expanded;
    font-weight: bold;
    
   
    
}

#main {
    width: 75%;
    margin: 10px auto;
   
    
}
#for_a_picture {
    width: 30%;
    text-align: center;
    color: whitesmoke;
    opacity: 0.9;
    float: left;
    height: 400px;
   
    

}
#picture {
    width: 100%;
    /* height: 100%; */
   
    color: whitesmoke;
    float: left;
    
    

}
#about_me {
    width: 69%;
    color: whitesmoke;
    background-color: purple;
    opacity: 0.9;
    height: 451px;
    float: right;
    padding: 20px;
    
   
   

}
#foot {
    width: 75%;
    text-align: center;
    color: whitesmoke;
    background-color: blueviolet;
    opacity: 0.9;
    padding: 30px;
    margin: 10px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:larger;
    font-stretch: extra-expanded;
    font-weight: bold;
    clear: both;
}
p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
}

